:root {
  --green-main: #0aad0a;
  --green-dark: #036b1d;
  --gray-text: #7e7e7e;
  --bg-light: #f5f7fb;
  --card-border: #e5e7eb;
}
.address-form-container {
  max-width: 700px;
  margin: 20px auto;
  background: #ffffff;
  padding: 18px;
  border-radius: 8px;
}

.address-form-container h2{
  margin-bottom: 15px;
  font-size: large;
  font-weight: bolder;
}

/* FORM */
.address-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
 
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.form-group input:focus {
  border-color: var(--green-main);
}

/* BUTTON */
.save-btn {
  margin-top: 10px;
  padding: 10px;
  background: var(--green-main);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  background:var(--green-dark);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .address-form-container {
    margin: 10px;
    padding: 15px;
  }
}
