.popular-wrapper {
  padding: 40px;
  background: #f9f9f9;
}

.popular-title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 25px;
}

/* Slider container */
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* Viewport */
.slider-viewport {
  width: 1080px; /* 4 cards */
  overflow: hidden;
  padding: 10px;
}

/* Sliding row */
.products-row {
  display: flex;
  gap: 20px;
}

/* Smooth animation */
.smooth-slide {
  transition: transform 0.6s ease-in-out;
}

/* Product Card */
.category-card{
  width: 230px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.product-card:hover {
  transform: translateY(-6px);
  transition: transform 0.3s;
}

/* Image */
.image-box {
  height: 200px;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content */
.card-body {
  padding: 15px;
  text-align: center;
}

.title {
  font-size: 15px;
  color: rgb(87, 86, 86);
}

/* Arrow Buttons */
.arrow {
  font-size: 24px;
  background: white;
  border: 1px solid #ddd;
  padding: 12px 16px;
  border-radius: 50%;
  cursor: pointer;
}

.arrow:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
