:root {
  --green-main: #0aad0a;
  --green-dark: #037203;
  --gray-text: #6b7280;
  --border-color: #e5e7eb;
  --bg-body: #f3f4f6;
}


.main{
    padding:30px 20px;
}
form{
    margin-top: 20px;
}
 /* // #22c55e; */
button{
    background-color: var(--green-main);
    margin: 10px auto;
    padding: 5px;
    border-radius:10px;
    font-weight: bolder;
}
button:hover{
     background-color: var(--green-dark);
}
h2{
    color: var(--green-dark);
}
label{
   font-weight: bold;
  color: #374151;
 
}
input{
   padding:5px;
   margin-top: 5px; 
}
input:focus {
  border-color: var(--green-main);
  box-shadow: 0 0 0 2px rgba(59, 183, 126, 0.15);
  
}
.inputfield{
    margin-top: 10px;
}